div.sticky {
  margin-left: 28%;
  position: initial;
  width: 50%;
  bottom: 10px;
  background: aliceblue;
}
div.title {
  background: aliceblue;
  font-style: oblique;
  position: initial;
  border: 1px solid #daac15;
  font-family: "Times New Roman", Times, serif;
}
div {
  font-family: "Times New Roman";
}
